<!DOCTYPE html>
<html>
<head>
	<title>Testing NOde</title>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/fonts/css/font-awesome.css">
	<script type="text/javascript" src="/public/js/jquery.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
</head>
<body>
	
	
	{{{ body }}}

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<span class="small">&copy; 2017 by Ekpoto Liberty</span>
				</div>
			</div>
		</div>
	</div>

	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyD4pzxS_Y3oxtG12mUElDyAwpgto2y-goM",
	    authDomain: "test-433f7.firebaseapp.com",
	    databaseURL: "https://test-433f7.firebaseio.com",
	    projectId: "test-433f7",
	    storageBucket: "test-433f7.appspot.com",
	    messagingSenderId: "788695899626"
	  };
	  firebase.initializeApp(config);
	</script>

</body>
</html>