<!DOCTYPE html>
<html>
<head>
	<title>Testing NOde</title>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/fonts/css/font-awesome.css">
	<script type="text/javascript" src="/public/js/jquery.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
</head>
<body>
	
	
	{{{ body }}}

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<span class="small">&copy; 2017 by Ekpoto Liberty</span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>