<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="title"> Drop a post </h1>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="dino-form">
				<form method="post" action="/save-post">
					<div class="panel-body">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6">
									<input type="hidden" name="by" value="delino">
									<label for="post">New Post</label>
									<textarea cols="20" rows="3" class="form-control" required="" name="post"></textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-primary">Post</button>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>